@use "../../../assets/styles/mixins" as *;
@use "../../../assets/styles/variables" as *;

.counter-container {
    @include flex;
    position: relative;
}

.icon {
    width: 1.29em;
    height: 1.29em;

    @media (min-width:$device-M) {
        width: 1.5em;
        height: 1.5em;
    }
    @media (min-width: $device-XXL) {
        width: 1.6em;
        height: 1.6em;
    }
}

.counter {
    position: absolute;
    font-size: .9rem;
    border: 1px solid #003377;
    border-radius: 15px;
    color: #001F3F;
    top: -8px;
    left: 6px;
    padding: 0.25em .5em;
    background-color: #7FDBFF;
    @include flex
}